    /* INDEX HTML */
    /* CARDS */
.contenedor {
    display: inline-block;
    text-align: center;
    margin: 80px 30px;
    section {
        position: relative;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 4px solid $color3;
        border-radius: 10px;
        img {
            width: (500px / 2);
            height: (25px * 10);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        a {
            h3 {
                margin-top: $sizestandar;
                padding: 10px;
                background-color: $color3;
                color: $color1;
                font-weight: bold;
                border-radius: 10px;
            }
        }
    }
}

    /* RESPONSIVE CARDS */
@media screen and (min-width: 740px) {
    .contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        section {
            margin-right: 30px;
        }
    }
}

    /* SECCION BANNER TEXT */
.section1 {
    background-color: rgb(20, 7, 7);
    width: 100%;
    height:400px;
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;
    div {
        position: relative;
        p {
            position: absolute;
            top: (60px * 2);
            font-weight: 800;
            font-size: $sizestandar;
            color: $color1;
            margin: 0px 20px;
            text-align: center;
        }
        div {
            text-align: center;
            .button2 {
                position: absolute;
                top: (140px * 2);
                background: $color3;
                padding: 10px 10px;
                font-weight: bold;
                color: $color1;
                border-radius: 10px;
            }
        }
    }
}

    /* RESPONSIVE BANNER TEXT */
@media screen and (min-width: 610px) {
    .section1 {
        div {
            p {
                font-size: 30px;
                margin: 0px 35px;
            }
            div {
                .button2 {
                    font-size: 20px;
                }
            }
        }
    }
}


