/* NAVIGATION */
header {
    @include size ( 100% , 100vh);
    @include img ( url(../IMG/general/fondo.jpg) , center , no-repeat , cover);
    
    nav {
        @include size ( 100% , 100px);
        @include flex ( flex , space-between , center);

        div {
            .nav-logo {
                width: 50px;
                margin-left: 20px;
            }
        }
        .bar-btn {
            font-size: 20px;
            color: map-get( $palette , "color-w" );
            cursor: pointer;
            margin-right: 20px;
        }
        .menu {
            @include size ( 100% , 0vh );
            display: grid;
            grid-template-columns: 1fr;
            position: fixed;
            top: 100px;
            background-color: map-get( $palette , "color-3" );
            text-align: center;
            transition: all .5s;
            >li {
                position: relative;
                display: none;
                margin: 20px;
                line-height: 30px;
                transition: all .5s;
                >a {
                    display: block;
                    color: map-get( $palette , "color-b" );
                    font-weight: 600;
                    font-size: 18px;
                }
            }
            li {
                a {
                    text-transform: uppercase;
                }
                a.active, &:hover {
                    color: map-get( $palette , "color-1" );
                    transition: .3s;
                }
                a.active {
                    font-weight: bold;
                    font-size: 22px;
                }
                .sub-menu {
                    position: absolute;
                    left: 20px;
                    display: none;
                    li {
                        a {
                            display: block;
                            margin: 10px;
                            width: 100%;
                            color: map-get( $palette , "color-b" );
                        }
                    }
                }
                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
            }
        }
        #check {
            display: none;
            &:checked ~ .menu {
                height: 100vh;
                li {
                    display: block;
                }
            }
        }
    }
    .banner-text {
        margin-top: 150px;
        padding: 0px 30px;
        text-align: center;
        h2 {
            font-weight: 600;
            color: map-get( $palette , "color-w" );
            margin-bottom: 20px;
        }
        h1 {
            color: map-get( $palette , "color-2" );
            font-weight: 800;
            font-family: "Montserrat", sans-serif;
            margin-bottom: 20px;
        }
        div {
            .button1 {
                background-color: map-get( $palette , "color-2" );
                padding: 15px;
                margin-top: 10px;
                border-radius: 10px;
                color: map-get( $palette , "color-w" );
            }
        }
    }
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
    header {
        nav {
            div {
                .nav-logo {
                    display: none;
                }
            }
            .bar-btn {
                display: none;
            }
            .menu {
                display: flex;
                height: 100px;
                top: 0;
                transition: none;
                text-align: right;
                margin-right: 50px;
                background-color: rgba(245, 245, 245, 0);
                >li {
                    display: inline-block;
                    align-self: center;
                    >a {
                        color: map-get( $palette , "color-w" );
                    }
                }
                li {
                    a.active {
                        font-size: 35px;
                    }
                    .sub-menu {
                        li {
                            a {
                                display: block;
                                margin: 10px;
                                width: 100%;
                                color: map-get( $palette , "color-w" );
                                &:hover {
                                    color: map-get( $palette , "color-1" );
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
        .banner-text {
            h2 {
                font-size: 35px;
            }
            h1 {
                font-size: 45px;
            }
        }
    }
}