/* NOSOTROS HTML*/
.nosotros {
    .nosotros-text {
        @extend %space;
        h2 {
            font-weight: bold;
        }
    }
    div {
        img {
            @extend %size;
        }
    }
}

    /*RESPONSIVE NOSOTROS HTML*/ 
@media screen and (min-width: 610px) {
    .nosotros {
        display: flex;
        .nosotros-text {
            font-weight: bold;
            h2 {
                margin-bottom: 30px;
                margin-top: 20px;
            }
        }
        div {
            img {
                margin-top: 40px;
                margin-right: 40px;
            }
        }
    }
}

