/* PULSERA HTML*/
.portada-pulsera {
    @include size ( 100% , 150px );
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    img {
        @include size ( 100% , 100% );
    }
    h2 {
        font-size: 25px;
        color: map-get( $palette , "color-w" );
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

    /* RESPONSIVE PULSERA HTML */
@media screen and (min-width: 840px) {
    .portada-pulsera {
        height: 300px;
        h2 {
            font-size: 40px;
        }
    }
}