* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

body {
    font-family: "IM Fell Double Pica SC", serif;
}

h2 {
    animation: tada;
    animation-duration: 3s;
}